<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="/">
      <% if (settings.logoMediaId) { %>
      <img
        src="/admin/media/image/<%= settings.logoMediaId %>/thumb"
        alt="<%= settings.companyName %>"
        height="50"
      />
      <% } else { %> <%= settings.companyName %> <% } %>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <% if (settings.phone) { %>
        <li class="nav-item">
          <a class="nav-link" href="tel:<%= settings.phone %>">
            <i class="bi bi-telephone"></i> <%= settings.phone %>
          </a>
        </li>
        <% } %> <% if (settings.email) { %>
        <li class="nav-item">
          <a class="nav-link" href="mailto:<%= settings.email %>">
            <i class="bi bi-envelope"></i> <%= settings.email %>
          </a>
        </li>
        <% } %> <% if (typeof isLoggedIn !== 'undefined' && isLoggedIn) { %>
        <li class="nav-item">
          <a class="nav-link" href="/admin/dashboard">
            <i class="bi bi-speedometer2"></i> Admin
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
